@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Comfortaa:wght@300&family=Pacifico&display=swap');
body{
    background-color: rgb(56, 196, 192);
    text-align: center;
    font-family: chewy;
}
h1{
color: rgb(211, 0, 219);
font-family: chewy;
}
nav a{
    color: rgb(92, 226, 43);
}
