@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Mali:wght@200&family=Nanum+Pen+Script&family=Pangolin&display=swap');
#content{
    max-width: 1600px;
    margin: 0;
}
header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #98473E;
    padding: 1em;
}
body{
    background-color:#F6D180 ;
    margin: 0;
    padding: 0;
}
main{
    text-align: center;
}
.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
}

.mazapan-card{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end:2 ;
    margin-top: 100px;
    margin-left: 20px;
}
.dulce-card{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:1 ;
    grid-row-end: 2;
    margin-top: 100px;
    margin-left: 20px;
}
.cocada-card{
    grid-column-start:2 ;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:2 ;
    margin-top: 100px;
    margin-left: 20px;
}
.ate-card{
    grid-column-start:1;
    grid-column-end:2 ;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 100px;
    margin-left: 20px;
}
.borrachitos-card{
    grid-column-start: 3;
    grid-column-end:4 ;
    grid-row-start: 2;
    grid-row-end:3 ;
    margin-top: 100px;
    margin-left: 20px;
}
.obleas-card{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 100px;
    margin-left: 20px;
}
.other-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr ; 
}

.pulparindo-card{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end:2 ;
    margin-top: 100px;
    margin-left: 20px;

}

.pelon-card{
    grid-column-start:2 ;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:2 ;
    margin-top: 100px;
    margin-left: 20px;

}

.picafresa-card{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:1 ;
    grid-row-end: 2;
    margin-top: 100px;
    margin-left: 20px;

}
.bubulubu-card{
    grid-column-start:1;
    grid-column-end:2 ;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 100px;
    margin-left: 20px;

}
.carlosv-card{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 100px;
    margin-left: 20px;

}
.rebanaditas-card{
    grid-column-start: 3;
    grid-column-end:4 ;
    grid-row-start: 2;
    grid-row-end:3 ;
    margin-top: 100px;
    margin-left: 20px;
}

.flip-card{
    background-color: transparent;
    width: 500px;
    height: 500px ;
    border: 3px solid #F41588;
    perspective: 1000px;
}

.flip-card-inner{
    position:relative ;
    width: 100%;
    height: 100%;
    text-align: center ;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front{
    background-color: #F41588;
    color: white;
}
.flip-card-back{
    background-color:#46B1C9 ;
    color:white ;
    transform: rotateY(180deg);
}

#main-pic{
    width: 100%
}
#contact-pic{
    margin-top: 80px;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #46B1C9; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}
input[type=submit] {
    background-color: #F41588;
    color: #46B1C9;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #F41588;
  }
  .container {
    border-radius: 5px;
    background-color: #46B1C9;
    padding: 20px;
  }

nav{
    display: flex;
    justify-content: space-around;
}


nav a{
    color:#46B1C9 ;
    margin-left: 10%;
    font-size: 30px;
    font-family: pangolin ; 

}
p{
    color: #F6D180;
    text-align: center;
    font-family:pangolin ;
    font-size: 20px;
}
h1{
    text-align: center;
    color:#F6D180 ;
    font-family: mali;
    background-color: #46B1C9 ;
    background-position: center;
    font-size: 70px;
       
}
h4{
    color: #F41588;
    font-family:pangolin ;
    font-size: 50px;
    text-align: center;

}
h2{
    color:#F41588;
    font-family: mali;
    font-size: 50px;
}
h3{
    color: #F6D180;
    font-size: 50px;
    font-family: mali;
}
footer{
    background-color: #46B1C9;
    color: #F41588;
    text-decoration: none;
    font-family: pangolin;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;

}


